body{
  background-image:url("../images/pexels-pixabay-47730.jpg");
  background-size:cover;
}


header{
  width: 50%;
  text-align: center;
  margin: auto;
  
}

#joueurs {
  /* CSS GRID ou FLEX  
  display: inline-grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}


.cartejoueur:hover{
  cursor: pointer;
  border: 2px solid white;
}


#joueurs > div > img{
  width: 10em;  
}



.cartegardien {
  border: 2px solid purple;
  background-color: rgba(129, 14, 206, 0.5);

}

.cartedefenseur{
  border: 2px solid black;
  background-color: rgba(240, 236, 10, 0.5);

}

.cartemilieu{
  border: 2px solid pink;
  background-color: rgba(207, 48, 146, 0.5);

}

.carteattaquant{
  border: 2px solid brown;
  background-color: rgba(202, 71, 10, 0.5);

}

h1>span:first-letter{
  color:white;
  font-size: 130%;
}

footer{
  background-image: url('https://img.uefa.com/imgml/uefacom/ucl/2021/logos/logo_dark.svg');
  background-repeat:   no-repeat;
  background-size:   contain;
  padding-left: 70px;
}

 